body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    border-radius: 2vh;
    background-color:#EEEDE7;
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#main{
    display: flex;
    flex-direction: column;
    background-color: #B9B7BD;
    box-shadow: 0vh 2vh black;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-left: 20%;

    border: 0.5vh solid black;
    margin-top: 10vh;
    border-radius: 4vh;

}

#screen{
    height: 15vh;
    width: 40vh;
    background-color: #303437;
    border: 0.3vh solid black;
    margin: 2vh 2vh;
    box-shadow: 0vh -0.5vh black;
    display: flex;
    flex-direction: column;
    color: #F8FAFD;
}

#previousScreen{
    display: flex;
    flex-direction: column;
    height: 50%;
    font-family: 'Black Ops One', cursive;
    font-size: 3.5vh;
    text-align: end;  
    justify-content: end;

}

#currentScreen{
    display: flex;
    flex-direction: column;
    height: 50%;
    font-family: 'Black Ops One', cursive;
    font-size: 4vh;
    text-align: end;
    justify-content: end;
}

#keys{
    display: grid;
    height: 45vh;
    width: 40vh;
    background-color: #B9B7BD;
    margin: 2vh 2vh;

    grid-template-columns: auto auto auto auto;
    grid-gap: 2vh;
}

.key{
    background-color: #868B8E;
    text-align: center;
    padding-top: 3.5vh;
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
    box-shadow: 0vh 1vh black;
}

#equals{
    grid-column-start: 3;
    grid-column-end: 5;
}

#clear{
    font-weight: 900;
}

.key:hover{
    background-color: #595E60;
}

#textCalculator{
    font-size: 15vh;
    color: black;
    font-family: 'Black Ops One', cursive;
    display: inline-block;
    margin-right: 6%;
    margin-bottom: 7%;
}